.landing-page {
  height: 100vh;
}

.landing-page-section {
  margin: 2rem 3rem;
  background-color: var(--body-bg-light-dark);
  height: 90vh;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}


.landing-page-section .site-name {
  font-size: 4rem;
  transition: all 0.2s ease;
  margin: auto auto 2rem 0;
  animation: top-to-bottom 1s ease-in-out ;
  position: absolute;
  top: 4rem;
}

@keyframes top-to-bottom {
  0%{
    opacity: 0;
    top: 0;
  }
  100%{
    opacity: 1;
    top: 4rem;
  }
}

.site-name-1 {
  color: var(--black);
}

.site-name-2 {
  color: var(--all-white);
}

.landing-img img {
  width: 100%;
  animation: fadeIn 2s ease-in-out;
}

.landing-page-section .hero-text {
  font-size: 2rem;
}

.landing-page-section .join-section {
  margin-top: 2rem;
}

.join-now {
  background-color: var(--cta-1);
  color: var(--gray);
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bolder;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}

.join-now:hover {
  background-color: var(--body-bg-full-dark);
  color: var(--text-white);
  transition: all 0.2s ease;
}

@media screen and (max-width: 768px) {

  .landing-page-section .site-name{
   position: static;
  }

  .landing-page-section {
    flex-wrap: wrap;
    height: 95vh;
    padding: 1rem;
    align-content: flex-start;
    align-items: flex-start;
    gap: 3rem;
    margin: 1rem;
  }
  .landing-page-section .join-section {
    position: absolute;
    bottom: 10px;
  }
  .landing-page-section .site-name {
    margin-bottom: 1rem;
  }
  .landing-page-section .hero-text {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .landing-page-section .site-name {
    font-size: 2.5rem;
    transition: all 0.2s ease;
  }

  .landing-img {
    max-width: 20rem;
  }
  .join-now {
    background-color: var(--cta-1);
    color: var(--gray);
    padding: 8px 16px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .landing-page-section .hero-text {
    font-size: 1.1rem;
  }
}
