.search-container{
  background-color: var(--gray-2);
  padding: 5px 10px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
}

#submit-btn{
  background: transparent;
  border: none;
  outline: none;
}

.search-input{
  background: transparent; 
  outline: none;
  font-size: 1.2rem;
  width: 100%;
  border: none; 
}