.navbar{
  height: auto;
  width: 100%;
  max-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  font-size: 2rem;
}

.navbar-logo{
  margin-right: auto;
}

.welcome-text{
  margin-left: auto;
}
