.notes-container {
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 1rem;
  flex: 1 1;
  max-width: 70vw;
}

.modal-backdrop {
  animation: fadeIn 0.3s ease-in-out;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.525);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  padding-top: 3rem;
}