.notes-page-section {
  background-color: var(--body-bg-light-dark);
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  height: 85vh;
  justify-content: flex-start;
  align-items: flex-start;
}

.active-link {
  background-color: var(--text-white);
  color: var(--body-bg-full-dark);
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.active-link:hover {
  background-color: var(--all-white);
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.inactive-link {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: var(--body-bg-light-dark);
  color: var(--text-white);
}

.inactive-link:hover {
  background-color: var(--body-bg-full-dark);
  color: var(--text-white);
}

.notes-nav-section {
  display: flex;
  height: 100%;
  box-sizing: border-box;
  flex: 1 1 20%;
  width: 100%;
  min-width: 10rem;
}

.notes-ul{
  padding: 0;
  width: 100%;
}

.notes-nav-section .notes-ul li {
  margin: 1rem 0;
  list-style: none;
  width: 100%;
}

.notes-view {
  flex: 1 1 80%;
}
