.notes-page-section{
  background-color: var(--body-bg-light-dark);
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  height: 85vh;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}