.notes-page-section {
  background-color: var(--body-bg-light-dark);
  margin: 2rem 3rem;
  padding: 1rem 2rem;
  border-radius: 10px;
  display: flex;
  height: 85vh;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .notes-page-section {
    margin: 1rem;
    padding: 1rem;
  }
}

.active-link {
  background-color: var(--text-white);
  color: var(--body-bg-full-dark);
  padding: 5px 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
}

.active-link:hover {
  background-color: var(--all-white);
  color: var(--black);
  transition: all 0.3s ease-in-out;
}

.inactive-link {
  background-color: var(--body-bg-light-dark);
  color: var(--text-white);
}

.inactive-link:hover {
  background-color: var(--body-bg-full-dark);
  color: var(--text-white);
}

.notes-nav-section {
  width: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.notes-nav-section > ul > * {
  width: 100%;
  padding: 10px 20px;
  margin: 1rem;
}

.notes-view {
  flex-grow: 1;
}
